openapi: 3.2.0
info:
  title: Nura Bio Content Discovery API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind nurabio.com.
  description: The read-only content surface Nura Bio exposes at https://nurabio.com/wp-json. Nura Bio is a clinical-stage biopharmaceutical company in South San Francisco, California developing oral, brain-penetrant small-molecule inhibitors of SARM1 — a neuronally enriched NAD hydrolase that drives axon degeneration — for peripheral, central and ocular nervous-system disorders. Nura Bio runs no developer program and markets no product API. This document is an API Evangelist derivation of the WordPress `wp/v2` and `oembed/1.0` route index the site publishes at /wp-json/, restricted to the operations verified to return data anonymously on 2026-08-26. All write operations, `/wp/v2/settings`, the `aioseo/v1` plugin-administration namespace, the `wp-abilities/v1` abilities registry, the `wp-analytify/v1`, `duplicate-post/v1`, `wp-site-health/v1` and `wp-block-editor/v1` namespaces, and the autosave/revision subtrees are authentication-gated and deliberately excluded — see x-api-evangelist-provenance.
  contact:
    name: Nura Bio
    url: https://nurabio.com/contact/
  x-api-evangelist-provenance: 'Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://nurabio.com/wp-json/ (269 routes across 8 namespaces: oembed/1.0, aioseo/v1, duplicate-post/v1, wp-analytify/v1, wp/v2, wp-site-health/v1, wp-block-editor/v1, wp-abilities/v1), harvested verbatim to openapi/_original/nura-bio-wp-json-route-index.json and verified against live anonymous responses on 2026-08-26. Every query parameter below is copied from that route index `args` block for that endpoint — type, enum, default, minimum and maximum included — and every collection count quoted in a description was read from the X-WP-Total response header on that date. Nura Bio publishes no OpenAPI, no developer documentation and no API reference for this surface; the wp/v2 contract itself is defined upstream by the WordPress REST API handbook. The deployment is WordPress on Kinsta behind Cloudflare (`x-kinsta-cache` / `ki-edge` response headers), previously on Flywheel — the media `guid` values still carry the pre-rebrand proneurotech.flywheelsites.com origin and /robots.txt is still the stale default Flywheel file. The theme is Avada. API responses carry `x-robots-tag: noindex`. Nothing here was obtained with credentials.'
servers:
- url: https://nurabio.com/wp-json
  description: Production content API
tags:
- name: discovery
  description: Route, type, taxonomy, status and oEmbed discovery endpoints that describe the deployment itself.
paths:
  /wp/v2/search:
    get:
      tags:
      - discovery
      operationId: search
      summary: Search across content types
      description: 'Cross-type full-text search returning a uniform {id, title, url, type, subtype} projection over posts, pages and portfolio items. Verified 200 anonymously on 2026-08-26 for search=sarm1 (X-WP-Total: 12).'
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - name: type
        in: query
        description: Limit results to items of an object type.
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
      - name: subtype
        in: query
        description: Limit results to items of one or more object subtypes.
        schema:
          type: array
          default: any
          items:
            type: string
            enum:
            - post
            - page
            - portfolio
            - category
            - post_tag
            - portfolio_entries
            - any
      - $ref: '#/components/parameters/Exclude'
      - $ref: '#/components/parameters/Include'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/types:
    get:
      tags:
      - discovery
      operationId: listTypes
      summary: List registered post types
      description: Returns the registered post types and their REST base paths. This is how the `portfolio` people-directory type is discoverable. Verified 200 anonymously on 2026-08-26.
      parameters:
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/types/{type}:
    get:
      tags:
      - discovery
      operationId: getType
      summary: Get a registered post type
      description: Returns one post type definition. Verified 200 anonymously on 2026-08-26 for type=portfolio.
      parameters:
      - name: type
        in: path
        required: true
        description: An alphanumeric identifier for the post type.
        schema:
          type: string
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/taxonomies:
    get:
      tags:
      - discovery
      operationId: listTaxonomies
      summary: List registered taxonomies
      description: Returns the registered taxonomies, the post types each applies to, and their REST base paths. Verified 200 anonymously on 2026-08-26.
      parameters:
      - $ref: '#/components/parameters/Context'
      - name: type
        in: query
        description: Limit results to taxonomies associated with a specific post type.
        schema:
          type: string
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/taxonomies/{taxonomy}:
    get:
      tags:
      - discovery
      operationId: getTaxonomy
      summary: Get a registered taxonomy
      description: Returns one taxonomy definition. Verified 200 anonymously on 2026-08-26 for taxonomy=portfolio_entries.
      parameters:
      - name: taxonomy
        in: path
        required: true
        description: An alphanumeric identifier for the taxonomy.
        schema:
          type: string
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/statuses:
    get:
      tags:
      - discovery
      operationId: listStatuses
      summary: List post statuses
      description: Returns the registered post statuses. Anonymously only `publish` is visible. Verified 200 anonymously on 2026-08-26.
      parameters:
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/statuses/{status}:
    get:
      tags:
      - discovery
      operationId: getStatus
      summary: Get a post status
      description: Returns one post status definition. Verified 200 anonymously on 2026-08-26 for status=publish.
      parameters:
      - name: status
        in: path
        required: true
        description: An alphanumeric identifier for the status.
        schema:
          type: string
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /oembed/1.0/embed:
    get:
      tags:
      - discovery
      operationId: getOembed
      summary: Get an oEmbed representation
      description: Returns the oEmbed 1.0 representation of any URL on this site — provider name, author, thumbnail and embed HTML. Verified 200 anonymously on 2026-08-26 for url=https://nurabio.com/.
      parameters:
      - name: url
        in: query
        required: true
        description: The URL of the resource for which to fetch oEmbed data.
        schema:
          type: string
          format: uri
      - name: format
        in: query
        schema:
          type: string
          default: json
      - name: maxwidth
        in: query
        schema:
          type: string
          default: 600
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    InvalidParam:
      description: rest_invalid_param — a query parameter failed validation (for example per_page above 100).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RestError'
    NotFound:
      description: Resource not found (rest_post_invalid, rest_term_invalid, rest_user_invalid, rest_no_route).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RestError'
    Forbidden:
      description: rest_forbidden — the requested context or collection requires authentication.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RestError'
  schemas:
    RestError:
      type: object
      description: The WordPress REST error envelope. It is NOT RFC 9457 application/problem+json; it is served as application/json.
      properties:
        code:
          type: string
          description: Machine-readable error slug, e.g. rest_post_invalid.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          description: Error detail. Always carries `status` (the HTTP status); carries `params` and `details` on validation failures.
          properties:
            status:
              type: integer
      required:
      - code
      - message
      - data
  parameters:
    Search:
      name: search
      in: query
      description: Limit results to those matching a string.
      schema:
        type: string
    Exclude:
      name: exclude
      in: query
      description: Ensure result set excludes specific IDs.
      schema:
        default: []
        items:
          type: integer
        type: array
    Page:
      name: page
      in: query
      description: Current page of the collection.
      schema:
        default: 1
        minimum: 1
        type: integer
    PerPage:
      name: per_page
      in: query
      description: Maximum number of items to be returned in result set.
      schema:
        default: 10
        maximum: 100
        minimum: 1
        type: integer
    Include:
      name: include
      in: query
      description: Limit result set to specific IDs.
      schema:
        default: []
        items:
          type: integer
        type: array
    Context:
      name: context
      in: query
      description: Scope under which the request is made; determines fields present in response.
      schema:
        default: view
        enum:
        - view
        - embed
        - edit
        type: string
