openapi: 3.1.0
info:
  title: Nura Bio Content API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind nurabio.com.
  description: >-
    The read-only content surface Nura Bio exposes at https://nurabio.com/wp-json. Nura Bio is a clinical-stage
    biopharmaceutical company in South San Francisco, California developing oral, brain-penetrant small-molecule
    inhibitors of SARM1 — a neuronally enriched NAD hydrolase that drives axon degeneration — for peripheral,
    central and ocular nervous-system disorders. Nura Bio runs no developer program and markets no product API.
    This document is an API Evangelist derivation of the WordPress `wp/v2` and `oembed/1.0` route index the site
    publishes at /wp-json/, restricted to the operations verified to return data anonymously on 2026-08-26. All
    write operations, `/wp/v2/settings`, the `aioseo/v1` plugin-administration namespace, the `wp-abilities/v1`
    abilities registry, the `wp-analytify/v1`, `duplicate-post/v1`, `wp-site-health/v1` and `wp-block-editor/v1`
    namespaces, and the autosave/revision subtrees are authentication-gated and deliberately excluded — see x-api-evangelist-provenance.
  contact:
    name: Nura Bio
    url: https://nurabio.com/contact/
  x-api-evangelist-provenance: >-
    Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://nurabio.com/wp-json/
    (269 routes across 8 namespaces: oembed/1.0, aioseo/v1, duplicate-post/v1, wp-analytify/v1, wp/v2, wp-site-health/v1,
    wp-block-editor/v1, wp-abilities/v1), harvested verbatim to openapi/_original/nura-bio-wp-json-route-index.json
    and verified against live anonymous responses on 2026-08-26. Every query parameter below is copied from that
    route index `args` block for that endpoint — type, enum, default, minimum and maximum included — and every
    collection count quoted in a description was read from the X-WP-Total response header on that date. Nura Bio
    publishes no OpenAPI, no developer documentation and no API reference for this surface; the wp/v2 contract
    itself is defined upstream by the WordPress REST API handbook. The deployment is WordPress on Kinsta behind
    Cloudflare (`x-kinsta-cache` / `ki-edge` response headers), previously on Flywheel — the media `guid` values
    still carry the pre-rebrand proneurotech.flywheelsites.com origin and /robots.txt is still the stale default
    Flywheel file. The theme is Avada. API responses carry `x-robots-tag: noindex`. Nothing here was obtained with credentials.
servers:
- url: https://nurabio.com/wp-json
  description: Production content API
tags:
- name: posts
  description: The company news archive — press releases and financing, clinical and publication announcements.
- name: pages
  description: 'The six evergreen site pages: Home, About Us, Our Science, News & Literature, Join Us, Contact.'
- name: portfolio
  description: >-
    The people directory — leadership, board of directors, and founders and advisors — carried on the Avada theme
    `portfolio` custom post type and its `portfolio_entries` taxonomy.
- name: media
  description: 'The media library: logo assets, team headshots, scientific figures and press-release documents.'
- name: taxonomy
  description: Category and tag terms applied to the news archive.
- name: directory
  description: Public author projection for users who have published content.
- name: discovery
  description: Route, type, taxonomy, status and oEmbed discovery endpoints that describe the deployment itself.
paths:
  /wp/v2/posts:
    get:
      tags:
      - posts
      operationId: listPosts
      summary: List news posts
      description: >-
        Lists published posts. On this deployment the collection is the Nura Bio news archive — 9 items spanning
        the January 2020 launch announcement through the June 2026 $73.8M Series B. Paginated; X-WP-Total and
        X-WP-TotalPages are exposed via Access-Control-Expose-Headers. Verified 200 anonymously on 2026-08-26
        (X-WP-Total: 9).
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/After'
      - $ref: '#/components/parameters/ModifiedAfter'
      - $ref: '#/components/parameters/Author'
      - $ref: '#/components/parameters/AuthorExclude'
      - $ref: '#/components/parameters/Before'
      - $ref: '#/components/parameters/ModifiedBefore'
      - $ref: '#/components/parameters/Exclude'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/SearchSemantics'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Order'
      - name: orderby
        in: query
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - $ref: '#/components/parameters/SearchColumns'
      - $ref: '#/components/parameters/Slug'
      - name: status
        in: query
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - dp-rewrite-republish
            - any
      - name: tax_relation
        in: query
        description: Limit result set based on relationship between multiple taxonomies.
        schema:
          type: string
          enum:
          - AND
          - OR
      - name: categories
        in: query
        description: Limit result set to items with specific terms assigned in the categories taxonomy.
        schema:
          type: object
      - name: categories_exclude
        in: query
        description: Limit result set to items except those with specific terms assigned in the categories taxonomy.
        schema:
          type: object
      - name: tags
        in: query
        description: Limit result set to items with specific terms assigned in the tags taxonomy.
        schema:
          type: object
      - name: tags_exclude
        in: query
        description: Limit result set to items except those with specific terms assigned in the tags taxonomy.
        schema:
          type: object
      - name: sticky
        in: query
        description: Limit result set to items that are sticky.
        schema:
          type: boolean
      - name: ignore_sticky
        in: query
        description: Whether to ignore sticky posts or not.
        schema:
          type: boolean
          default: true
      - name: format
        in: query
        description: Limit result set to items assigned one or more given formats.
        schema:
          type: array
          items:
            type: string
            enum:
            - standard
            - aside
            - chat
            - gallery
            - link
            - image
            - quote
            - status
            - video
            - audio
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/posts/{id}:
    get:
      tags:
      - posts
      operationId: getPost
      summary: Get a news post
      description: >-
        Retrieves a single post by numeric id, including rendered title, content, excerpt and the AIOSEO metadata
        block. Verified 200 anonymously on 2026-08-26 against id 2507 (the Series B announcement).
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the resource.
        schema:
          type: integer
      - $ref: '#/components/parameters/Context'
      - name: excerpt_length
        in: query
        description: Override the default excerpt length.
        schema:
          type: integer
      - name: password
        in: query
        description: The password for the post if it is password protected.
        schema:
          type: string
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/pages:
    get:
      tags:
      - pages
      operationId: listPages
      summary: List site pages
      description: >-
        Lists published pages. Six exist on this deployment: Home, About Us, Our Science, News & Literature, Join
        Us and Contact. Verified 200 anonymously on 2026-08-26 (X-WP-Total: 6).
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/After'
      - $ref: '#/components/parameters/ModifiedAfter'
      - $ref: '#/components/parameters/Author'
      - $ref: '#/components/parameters/AuthorExclude'
      - $ref: '#/components/parameters/Before'
      - $ref: '#/components/parameters/ModifiedBefore'
      - $ref: '#/components/parameters/Exclude'
      - $ref: '#/components/parameters/Include'
      - name: menu_order
        in: query
        description: Limit result set to posts with a specific menu_order value.
        schema:
          type: integer
      - $ref: '#/components/parameters/SearchSemantics'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Order'
      - name: orderby
        in: query
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          default: date
      - name: parent
        in: query
        description: Limit result set to items with particular parent IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: parent_exclude
        in: query
        description: Limit result set to all items except those of a particular parent ID.
        schema:
          type: array
          default: []
          items:
            type: integer
      - $ref: '#/components/parameters/SearchColumns'
      - $ref: '#/components/parameters/Slug'
      - name: status
        in: query
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - dp-rewrite-republish
            - any
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/pages/{id}:
    get:
      tags:
      - pages
      operationId: getPage
      summary: Get a site page
      description: Retrieves a single page by numeric id. Verified 200 anonymously on 2026-08-26 against id 36
        (About Us).
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the resource.
        schema:
          type: integer
      - $ref: '#/components/parameters/Context'
      - name: excerpt_length
        in: query
        description: Override the default excerpt length.
        schema:
          type: integer
      - name: password
        in: query
        description: The password for the post if it is password protected.
        schema:
          type: string
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/portfolio:
    get:
      tags:
      - portfolio
      operationId: listPortfolioItems
      summary: List team and board profiles
      description: >-
        Lists items of the `portfolio` custom post type. On this deployment the Avada theme portfolio type carries
        the company people directory — 11 published profiles covering leadership, board of directors, and founders
        and advisors. Verified 200 anonymously on 2026-08-26 (X-WP-Total: 11).
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/After'
      - $ref: '#/components/parameters/ModifiedAfter'
      - $ref: '#/components/parameters/Author'
      - $ref: '#/components/parameters/AuthorExclude'
      - $ref: '#/components/parameters/Before'
      - $ref: '#/components/parameters/ModifiedBefore'
      - $ref: '#/components/parameters/Exclude'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/SearchSemantics'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Order'
      - name: orderby
        in: query
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - $ref: '#/components/parameters/SearchColumns'
      - $ref: '#/components/parameters/Slug'
      - name: status
        in: query
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - dp-rewrite-republish
            - any
      - name: tax_relation
        in: query
        description: Limit result set based on relationship between multiple taxonomies.
        schema:
          type: string
          enum:
          - AND
          - OR
      - name: tags
        in: query
        description: Limit result set to items with specific terms assigned in the tags taxonomy.
        schema:
          type: object
      - name: tags_exclude
        in: query
        description: Limit result set to items except those with specific terms assigned in the tags taxonomy.
        schema:
          type: object
      - name: portfolio_entries
        in: query
        description: Limit result set to items with specific terms assigned in the portfolio_entries taxonomy.
        schema:
          type: object
      - name: portfolio_entries_exclude
        in: query
        description: Limit result set to items except those with specific terms assigned in the portfolio_entries
          taxonomy.
        schema:
          type: object
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/portfolio/{id}:
    get:
      tags:
      - portfolio
      operationId: getPortfolioItem
      summary: Get a team or board profile
      description: >-
        Retrieves a single portfolio item (person profile) by numeric id. Verified 200 anonymously on 2026-08-26
        against id 181.
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the resource.
        schema:
          type: integer
      - $ref: '#/components/parameters/Context'
      - name: excerpt_length
        in: query
        description: Override the default excerpt length.
        schema:
          type: integer
      - name: password
        in: query
        description: The password for the post if it is password protected.
        schema:
          type: string
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/portfolio_entries:
    get:
      tags:
      - portfolio
      operationId: listPortfolioEntries
      summary: List people groupings
      description: >-
        Lists terms in the hierarchical `portfolio_entries` taxonomy, which groups the people directory. Three
        terms exist: Leadership, Board of Directors, and Founders and Advisors. Verified 200 anonymously on 2026-08-26
        (X-WP-Total: 3).
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Exclude'
      - $ref: '#/components/parameters/Include'
      - name: order
        in: query
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: orderby
        in: query
        description: Sort collection by term attribute.
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
      - name: hide_empty
        in: query
        description: Whether to hide terms not assigned to any posts.
        schema:
          type: boolean
          default: false
      - name: parent
        in: query
        description: Limit result set to terms assigned to a specific parent.
        schema:
          type: integer
      - name: post
        in: query
        description: Limit result set to terms assigned to a specific post.
        schema:
          type: integer
      - name: slug
        in: query
        description: Limit result set to terms with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/portfolio_entries/{id}:
    get:
      tags:
      - portfolio
      operationId: getPortfolioEntry
      summary: Get a people grouping
      description: >-
        Retrieves a single `portfolio_entries` term by numeric id. Verified 200 anonymously on 2026-08-26 against
        id 4 (Board of Directors).
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the resource.
        schema:
          type: integer
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/media:
    get:
      tags:
      - media
      operationId: listMedia
      summary: List media library items
      description: >-
        Lists attachments in the media library — 84 items at harvest, including the corporate logo set, team headshots,
        scientific figures and press-release PDFs. Verified 200 anonymously on 2026-08-26 (X-WP-Total: 84).
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/After'
      - $ref: '#/components/parameters/ModifiedAfter'
      - $ref: '#/components/parameters/Author'
      - $ref: '#/components/parameters/AuthorExclude'
      - $ref: '#/components/parameters/Before'
      - $ref: '#/components/parameters/ModifiedBefore'
      - $ref: '#/components/parameters/Exclude'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/SearchSemantics'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Order'
      - name: orderby
        in: query
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - name: parent
        in: query
        description: Limit result set to items with particular parent IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: parent_exclude
        in: query
        description: Limit result set to all items except those of a particular parent ID.
        schema:
          type: array
          default: []
          items:
            type: integer
      - $ref: '#/components/parameters/SearchColumns'
      - $ref: '#/components/parameters/Slug'
      - name: status
        in: query
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          default: inherit
          items:
            type: string
            enum:
            - inherit
            - private
            - trash
      - name: media_type
        in: query
        description: Limit result set to attachments of a particular media type or media types.
        schema:
          type: array
          items:
            type: string
            enum:
            - image
            - video
            - text
            - application
            - audio
      - name: mime_type
        in: query
        description: Limit result set to attachments of a particular MIME type or MIME types.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/media/{id}:
    get:
      tags:
      - media
      operationId: getMediaItem
      summary: Get a media library item
      description: >-
        Retrieves a single attachment by numeric id, including source_url and the generated size variants. Verified
        200 anonymously on 2026-08-26 against id 838.
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the resource.
        schema:
          type: integer
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/categories:
    get:
      tags:
      - taxonomy
      operationId: listCategories
      summary: List post categories
      description: >-
        Lists terms in the hierarchical `category` taxonomy. Four exist on this deployment: News, Careers, Uncategorized
        and one unused term. Verified 200 anonymously on 2026-08-26 (X-WP-Total: 4).
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Exclude'
      - $ref: '#/components/parameters/Include'
      - name: order
        in: query
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: orderby
        in: query
        description: Sort collection by term attribute.
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
      - name: hide_empty
        in: query
        description: Whether to hide terms not assigned to any posts.
        schema:
          type: boolean
          default: false
      - name: parent
        in: query
        description: Limit result set to terms assigned to a specific parent.
        schema:
          type: integer
      - name: post
        in: query
        description: Limit result set to terms assigned to a specific post.
        schema:
          type: integer
      - name: slug
        in: query
        description: Limit result set to terms with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/categories/{id}:
    get:
      tags:
      - taxonomy
      operationId: getCategory
      summary: Get a post category
      description: Retrieves a single category term by numeric id. Verified 200 anonymously on 2026-08-26 against
        id 6 (Careers).
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the resource.
        schema:
          type: integer
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/tags:
    get:
      tags:
      - taxonomy
      operationId: listTags
      summary: List post tags
      description: >-
        Lists terms in the flat `post_tag` taxonomy. Registered and reachable, but empty on this deployment —
        no post or portfolio item carries a tag. Verified 200 anonymously on 2026-08-26 (X-WP-Total: 0).
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Exclude'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/Offset'
      - name: order
        in: query
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: orderby
        in: query
        description: Sort collection by term attribute.
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
      - name: hide_empty
        in: query
        description: Whether to hide terms not assigned to any posts.
        schema:
          type: boolean
          default: false
      - name: post
        in: query
        description: Limit result set to terms assigned to a specific post.
        schema:
          type: integer
      - name: slug
        in: query
        description: Limit result set to terms with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/tags/{id}:
    get:
      tags:
      - taxonomy
      operationId: getTag
      summary: Get a post tag
      description: >-
        Retrieves a single `post_tag` term by numeric id. The collection is empty on this deployment, so every
        id returns 404 rest_term_invalid.
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the resource.
        schema:
          type: integer
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/users:
    get:
      tags:
      - directory
      operationId: listUsers
      summary: List content authors
      description: >-
        Lists users who have authored published content. Two are exposed anonymously on this deployment; the collection
        returns only the public author projection (name, slug, description, avatar), never email or role. Verified
        200 anonymously on 2026-08-26 (X-WP-Total: 2).
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Exclude'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/Offset'
      - name: order
        in: query
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: orderby
        in: query
        description: Sort collection by user attribute.
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - registered_date
          - slug
          - include_slugs
          - email
          - url
          default: name
      - name: slug
        in: query
        description: Limit result set to users with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: roles
        in: query
        description: Limit result set to users matching at least one specific role provided. Accepts csv list
          or single role.
        schema:
          type: array
          items:
            type: string
      - name: capabilities
        in: query
        description: >-
          Limit result set to users matching at least one specific capability provided. Accepts csv list or single
          capability.
        schema:
          type: array
          items:
            type: string
      - name: who
        in: query
        description: Limit result set to users who are considered authors.
        schema:
          type: string
          enum:
          - authors
      - name: has_published_posts
        in: query
        description: Limit result set to users who have published posts.
        schema:
          type: boolean
      - name: search_columns
        in: query
        description: Array of column names to be searched.
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - email
            - name
            - id
            - username
            - slug
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/users/{id}:
    get:
      tags:
      - directory
      operationId: getUser
      summary: Get a content author
      description: >-
        Retrieves a single author by numeric id in the public `view` projection. Verified 200 anonymously on 2026-08-26
        against id 3.
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the resource.
        schema:
          type: integer
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/search:
    get:
      tags:
      - discovery
      operationId: search
      summary: Search across content types
      description: >-
        Cross-type full-text search returning a uniform {id, title, url, type, subtype} projection over posts,
        pages and portfolio items. Verified 200 anonymously on 2026-08-26 for search=sarm1 (X-WP-Total: 12).
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - name: type
        in: query
        description: Limit results to items of an object type.
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
      - name: subtype
        in: query
        description: Limit results to items of one or more object subtypes.
        schema:
          type: array
          default: any
          items:
            type: string
            enum:
            - post
            - page
            - portfolio
            - category
            - post_tag
            - portfolio_entries
            - any
      - $ref: '#/components/parameters/Exclude'
      - $ref: '#/components/parameters/Include'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/types:
    get:
      tags:
      - discovery
      operationId: listTypes
      summary: List registered post types
      description: >-
        Returns the registered post types and their REST base paths. This is how the `portfolio` people-directory
        type is discoverable. Verified 200 anonymously on 2026-08-26.
      parameters:
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/types/{type}:
    get:
      tags:
      - discovery
      operationId: getType
      summary: Get a registered post type
      description: Returns one post type definition. Verified 200 anonymously on 2026-08-26 for type=portfolio.
      parameters:
      - name: type
        in: path
        required: true
        description: An alphanumeric identifier for the post type.
        schema:
          type: string
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/taxonomies:
    get:
      tags:
      - discovery
      operationId: listTaxonomies
      summary: List registered taxonomies
      description: >-
        Returns the registered taxonomies, the post types each applies to, and their REST base paths. Verified
        200 anonymously on 2026-08-26.
      parameters:
      - $ref: '#/components/parameters/Context'
      - name: type
        in: query
        description: Limit results to taxonomies associated with a specific post type.
        schema:
          type: string
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/taxonomies/{taxonomy}:
    get:
      tags:
      - discovery
      operationId: getTaxonomy
      summary: Get a registered taxonomy
      description: Returns one taxonomy definition. Verified 200 anonymously on 2026-08-26 for taxonomy=portfolio_entries.
      parameters:
      - name: taxonomy
        in: path
        required: true
        description: An alphanumeric identifier for the taxonomy.
        schema:
          type: string
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/statuses:
    get:
      tags:
      - discovery
      operationId: listStatuses
      summary: List post statuses
      description: >-
        Returns the registered post statuses. Anonymously only `publish` is visible. Verified 200 anonymously
        on 2026-08-26.
      parameters:
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/statuses/{status}:
    get:
      tags:
      - discovery
      operationId: getStatus
      summary: Get a post status
      description: Returns one post status definition. Verified 200 anonymously on 2026-08-26 for status=publish.
      parameters:
      - name: status
        in: path
        required: true
        description: An alphanumeric identifier for the status.
        schema:
          type: string
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /oembed/1.0/embed:
    get:
      tags:
      - discovery
      operationId: getOembed
      summary: Get an oEmbed representation
      description: >-
        Returns the oEmbed 1.0 representation of any URL on this site — provider name, author, thumbnail and embed
        HTML. Verified 200 anonymously on 2026-08-26 for url=https://nurabio.com/.
      parameters:
      - name: url
        in: query
        required: true
        description: The URL of the resource for which to fetch oEmbed data.
        schema:
          type: string
          format: uri
      - name: format
        in: query
        schema:
          type: string
          default: json
      - name: maxwidth
        in: query
        schema:
          type: string
          default: 600
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/InvalidParam'
        '401':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    After:
      name: after
      in: query
      description: Limit response to posts published after a given ISO8601 compliant date.
      schema:
        format: date-time
        type: string
    Author:
      name: author
      in: query
      description: Limit result set to posts assigned to specific authors.
      schema:
        default: []
        items:
          type: integer
        type: array
    AuthorExclude:
      name: author_exclude
      in: query
      description: Ensure result set excludes posts assigned to specific authors.
      schema:
        default: []
        items:
          type: integer
        type: array
    Before:
      name: before
      in: query
      description: Limit response to posts published before a given ISO8601 compliant date.
      schema:
        format: date-time
        type: string
    Context:
      name: context
      in: query
      description: Scope under which the request is made; determines fields present in response.
      schema:
        default: view
        enum:
        - view
        - embed
        - edit
        type: string
    Exclude:
      name: exclude
      in: query
      description: Ensure result set excludes specific IDs.
      schema:
        default: []
        items:
          type: integer
        type: array
    Include:
      name: include
      in: query
      description: Limit result set to specific IDs.
      schema:
        default: []
        items:
          type: integer
        type: array
    ModifiedAfter:
      name: modified_after
      in: query
      description: Limit response to posts modified after a given ISO8601 compliant date.
      schema:
        format: date-time
        type: string
    ModifiedBefore:
      name: modified_before
      in: query
      description: Limit response to posts modified before a given ISO8601 compliant date.
      schema:
        format: date-time
        type: string
    Offset:
      name: offset
      in: query
      description: Offset the result set by a specific number of items.
      schema:
        type: integer
    Order:
      name: order
      in: query
      description: Order sort attribute ascending or descending.
      schema:
        default: desc
        enum:
        - asc
        - desc
        type: string
    Page:
      name: page
      in: query
      description: Current page of the collection.
      schema:
        default: 1
        minimum: 1
        type: integer
    PerPage:
      name: per_page
      in: query
      description: Maximum number of items to be returned in result set.
      schema:
        default: 10
        maximum: 100
        minimum: 1
        type: integer
    Search:
      name: search
      in: query
      description: Limit results to those matching a string.
      schema:
        type: string
    SearchColumns:
      name: search_columns
      in: query
      description: Array of column names to be searched.
      schema:
        default: []
        items:
          enum:
          - post_title
          - post_content
          - post_excerpt
          type: string
        type: array
    SearchSemantics:
      name: search_semantics
      in: query
      description: How to interpret the search input.
      schema:
        enum:
        - exact
        type: string
    Slug:
      name: slug
      in: query
      description: Limit result set to posts with one or more specific slugs.
      schema:
        items:
          type: string
        type: array
  schemas:
    RestError:
      type: object
      description: >-
        The WordPress REST error envelope. It is NOT RFC 9457 application/problem+json; it is served as application/json.
      properties:
        code:
          type: string
          description: Machine-readable error slug, e.g. rest_post_invalid.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          description: >-
            Error detail. Always carries `status` (the HTTP status); carries `params` and `details` on validation
            failures.
          properties:
            status:
              type: integer
      required:
      - code
      - message
      - data
  responses:
    InvalidParam:
      description: rest_invalid_param — a query parameter failed validation (for example per_page above 100).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RestError'
    Forbidden:
      description: rest_forbidden — the requested context or collection requires authentication.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RestError'
    NotFound:
      description: Resource not found (rest_post_invalid, rest_term_invalid, rest_user_invalid, rest_no_route).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RestError'
